
-- Tabela de Planos Comerciais (Master Admin configura aqui)
CREATE TABLE IF NOT EXISTS public.subscription_plans (
  id            uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name          text NOT NULL,        -- 'Iniciante', 'Crescimento', 'Escala'
  price         numeric(10,2) NOT NULL,
  order_limit   int NOT NULL,         -- 50, 100, 999999 (ilimitado)
  features      text[] DEFAULT '{}',  -- ['Suporte Email', 'Sem Ads']
  ia_included   boolean DEFAULT false,
  recommended   boolean DEFAULT false,
  active        boolean DEFAULT true,
  created_at    timestamptz DEFAULT now()
);

-- Seed Inicial conforme pedido do usuário
INSERT INTO public.subscription_plans (name, price, order_limit, features, ia_included, recommended) VALUES
  ('Iniciante',   0.00,  50,     ARRAY['Até 50 pedidos /mês', 'Cardápio Digital Base', 'Pagamento via PIX'], false, false),
  ('Crescimento', 99.00, 100,    ARRAY['Até 100 pedidos /mês', 'Menu Sem Publicidade', 'Gestão de Impressão'], false, true),
  ('Escala',      199.00, 99999, ARRAY['Pedidos ILIMITADOS', 'Garçom Digital Incluso', 'Suporte VIP 24h'], true, false)
ON CONFLICT (name) DO NOTHING;

-- RLS para que vendors possam ver os planos
ALTER TABLE public.subscription_plans ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Planos
visíveis
para
todos\ ON public.subscription_plans FOR SELECT USING (true);

