
-- Adiciona campos de IA na tabela de vendors
ALTER TABLE public.vendors
  ADD COLUMN IF NOT EXISTS ai_photo_enabled boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS ai_photo_credits int DEFAULT 0;

-- Tabela de Configurações Globais da Plataforma (Master Admin)
CREATE TABLE IF NOT EXISTS public.platform_config (
  id                    uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  key                   text UNIQUE NOT NULL, -- 'ai_photo_package_size', 'ai_photo_package_price'
  value                 text NOT NULL,
  description           text,
  updated_at            timestamptz DEFAULT now()
);

-- Seed das configurações inicias de IA
INSERT INTO public.platform_config (key, value, description) VALUES
  ('ai_photo_package_size', '50', 'Quantidade de fotos por pacote de IA'),
  ('ai_photo_package_price', '199.00', 'Preço do pacote de melhorias de imagem com IA')
ON CONFLICT (key) DO UPDATE SET value = EXCLUDED.value;

-- RLS para ler as configs
ALTER TABLE public.platform_config ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Leitura
pública
de
configs\ ON public.platform_config FOR SELECT USING (true);

